#################
## Misc
#################
nbproject
manifest.mf
build.xml
node_modules
node_modules/*
npm-debug.log
src/**/*.js
*.js
!config/*
config/testing-utils.js
!karma.conf.js
!webpack.config.js
*.map
*.d.ts
!make.js
!examples/**/*.js
coverage
**/*.metadata.json
*.metadata.json
bundles

#################
## IDE
#################
.idea
.project
.settings
.vscode

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Mac crap
.DS_Store
**/.DS_Store
