os:
  - linux
language: node_js
node_js:
  - "10.16.1"
cache:
  directories:
    - $HOME/.npm
    - node_modules
branches:
  except:
    - "/^v\\d+\\.\\d+\\.\\d+$/"

before_install:
  # Upgrade NPM
  - npm install -g npm
install:
  - npm install
script:
  - npm run lint
  - npm test
  - npm run build

notifications:
  email: false
